.donationAmount {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 3vh;
    line-height: 1.5;
    color: hsla(0,0%,100%,.55);
    background-color: var(--dark-grey);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    /* height: 8vh; */
}

.paymentSection2{
    /* display: flex; */
    float: right;
    margin-bottom: 700px;
    align-items: center;
    justify-content: center;
}

.paypalDiv{
    margin: 20px;
    width: 200px;
    height: 200px;
    /* display: fixed;
    left: 0; */
    position: absolute;
    right: 0;
    float: right;
}

.donationSection{
    text-align: center;
    align-items: center;
}
.formSection2{
    text-align: center;
    align-items: center;
}
.registrationSectionHeader2{
    text-align: center;
}

.amount{
    font-size: 40px;
}