.Gradient {
    
  background-image: var(--gradient);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
}

.App-header {

  margin-bottom: 10vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  /* animation: slideInFromBottom 3s; */

}

.App-link {
  
  color: #61dafb;
  
}