.impactStats{
    margin: 2vw;
    background-image: var(--gradient);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; 
}

@media screen and (min-width: 990px) {
    .vl1{
        position: absolute;
        border-left: 4px solid #ffffff;
        height: 7vw;
        left: 40vw;
        margin-top: 2vw;
        opacity: .5;
    }

    .vl2{
        position: absolute;
        border-left: 4px solid #ffffff;
        height: 7vw;
        left: 60vw;
        margin-top: 2vw;
        opacity: .5;
    }

    .bottomStats{
        display: flex;
        justify-content: center;
    }
    
    .bottomStats div{
        width: 15vw;
    }
    
    .bottomStats h1{
        font-size: 3vw;
    }

    .bottomStats h3{
        font-size: 1.5vw;
    }

    .moneyRaised h1{
        font-size: 10vw;
    }
    
    .moneyRaised h3{
        font-size: 3.5vw;
    }
    
    .cause h1{
        font-size: 7vw;
    }
    
    .cause h3{
        font-size: 2vw;
    }
  }

  @media screen and (max-width: 990px) {

    .bottomStats{
        /* display: flex; */
        justify-content: center;
    }
    
    .bottomStats div{
        margin: 10vw 0;
    }
    
    .moneyRaised h1{
        font-size: 20vw;
    }
    
    .moneyRaised h3{
        font-size: 7vw;
    }
    
    .cause h1{
        font-size: 18vw;
    }
    
    .cause h3{
        font-size: 5vw;
    }
  }