.content {

    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    
}

.carouselContainer {

    width: 20vh;
    height: 30vh;
    perspective: 1800px;

}
  
.carousel {

    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    justify-content: center;

}

.next, .prev {

  color: rgba(255, 255, 255, 0.65);
  position: absolute;
  cursor: pointer;
  font-size: 6vh;
  transition: all 0.3s;
  top: 45vh;

}

.next:hover, .prev:hover { transform: scale(1.2); }

.next { right: 37vw; }
.prev { left: 37vw; }

@media screen and (max-width: 990px) {

    .next, .prev {

        color: rgba(255, 255, 255, 0.65);
        position: absolute;
        cursor: pointer;
        font-size: 6vh;
        transition: all 0.3s;
        top: 45vh;
      
    }

    .next { right: 7vw; }
    .prev { left: 7vw; }

}