@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Lexend:wght@700&display=swap');

:root {

  --barlow: 'Barlow Semi Condensed', sans-serif;
  --lexend: 'Lexend', sans-serif;
  --dark-grey: #0c0c0c;
  --green: #51ff71;
  --blue: #008cff;
  --gradient: linear-gradient(135deg, var(--green), var(--blue));

}

.Gradient {
    
  background-image: var(--gradient);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}

.App {

  text-align: center;
  font-family: var(--lexend);
  background-color: var(--dark-grey);
  
}

.App-header {
  
  background-color: var(--dark-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 18vmin);

}

.App-link {
  color: #61dafb;
}